@font-face {
  font-family: "iconfont"; /* Project id 2155726 */
  src: url('../fonts/iconfont.ttf?t=1636104682389') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-huiyuan:before {
  content: "\e8a6";
}

.icon-xinzeng:before {
  content: "\e6ce";
}

.icon-zhuce:before {
  content: "\e6d6";
}

.icon-yonghu:before {
  content: "\e617";
}

.icon-banjiguanli:before {
  content: "\e645";
}

.icon-yiwen:before {
  content: "\e739";
}

