/*奇数*/
ul li:nth-child(odd) {
    background-color: lightblue;
}
/*偶数*/
ul li:nth-child(even) {
    background-color: lightgreen;
}
ul li {
    font-size: 12px;
    line-height: 30px;
}
.hh{
    color:red;
}